<!DOCTYPE html>
<html>
<head>
  <title>Model Mirror</title>
  <%= stylesheet_link_tag    'model_mirror/application', media: 'all' %>
  <%= javascript_include_tag 'model_mirror/application' %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
  <%= yield %>
</body>
</html>
